@import url(https://fonts.googleapis.com/css?family=Exo:100);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font:
    400 16px/1.5 exo,
    ubuntu,
    "segoe ui",
    helvetica,
    arial,
    sans-serif;
  font-family: "NotoSans Kr", sans-serif;
}

@layer components {
  .writing-mode {
    writing-mode: vertical-rl;
  }
}
